/node_modules
/storage/img
/public/img
/public/tiles4

/storage/shp
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.vscode
/python/static
/public/shp
dlhtml1.txt
dldata1.txt
*.tif



