body {
  color: rgb(0, 0, 0);
  background-color: #fff8e7;
  font-family: Calibri, sans-serif;
  font-size: 18px;
  line-height: 1;
}
#loading1{
  display: table; 
  height: 100%; 
  overflow: hidden;
  margin:auto;
}
#loading2{
  display: table-cell;
  vertical-align: middle;
}

.keepit100{
  height:100%;
}
#legendul{
  padding: 0px;
  margin: auto;
  width: 105px;
}

.infotitles{
  text-align: center;
  margin-top:28px;
}

.textDisplay{
  font-size: 13px;
  margin:10px;
}

#mapdiv {
  border-right: black solid 1px;
  grid-area: map;
}

#mapcontoldiv {
  margin-right: 5px;
  grid-area: control;
}
#legenddiv {
  grid-area: legend;
}
#testareadiv {
  font-size: 9px;
  grid-area: textarea;
}
#graph {
  height:100%;
  grid-area: graph;
}

#table_optionOpacity {
	width: 70%;
	margin-left: auto;
}

.textCenter{
	text-align: center;
}

#pagecontainer{
  margin-right: 8px;
  display: grid;
  grid-template-columns: auto 140px 260px 100px;
  grid-template-rows: 3fr 2fr;
  grid-template-areas: 
    "map graph graph graph"
    "map legend textarea control";
}

.legendColorBox {
  height: 10px;
  width: 10px;
  border: 0.02pt solid black;
  display: inline-block;
  margin-top: 0px;
  margin-right: 5px;
}
.legendp {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 13px;
}